<div ng-if="!$ctrl.data" class="chat-loader mx-auto my-5"></div>
<div ng-if="$ctrl.data" ng-repeat="msg in $ctrl.data" class="container-fluid clearfix slide-up">
    <div ng-if="!msg.join && !msg.logout" class="chat-container" ng-class="{darker: msg.user_id === $ctrl.user}">
        <p>{{msg.message}}</p>
        <span class="time-right">{{msg.Name}} | {{msg.time_stamp | date:'medium'}}</span>
    </div>
    <p ng-if="msg.join" style="float: right; color: brown;">{{msg.name}} ({{msg.email}}) has joined the chat</p>
    <p ng-if="msg.logout" style="float: right; color: gray;">{{msg.name}} ({{msg.email}}) has left the chat</p>
</div>