<div class="container-fluid auth-container-outer">
    <div class="mx-auto d-table p-4 align-middle border rounded auth-container-inner" ng-if="!signupSuccess">
        <h1>Sign Up</h1>
        <div style="display: flex;">
            <form class="auth-form" name="signupForm">
                <label for="name">Name *</label>
                <input class="mb-3" id="name" name="name" type="text" maxlength="100" ng-model="$ctrl.name"
                    placeholder="John Doe" required><span class="text-danger"
                    ng-show="signupForm.name.$touched && signupForm.name.$invalid">Name is mandatory</span>
                <label for="email">Email *</label>
                <input class="mb-3" id="email" name="email" type="email" ng-model="$ctrl.email"
                    placeholder="foo@bar.com" required><span class="text-danger"
                    ng-show="signupForm.email.$touched && signupForm.email.$invalid">Email is mandatory and should be
                    valid</span>
                <label for="password">Password *</label>
                <input minlength="8" maxlength="16" class="mb-3" id="password" name="password" type="password"
                    ng-model="$ctrl.password" placeholder="@WesomePassw0rd" required><input type="checkbox" style="display: inline"
                    ng-click="$ctrl.togglePass()">&nbsp;&nbsp;Show Password<span class="text-danger"
                    ng-show="signupForm.password.$touched && signupForm.password.$invalid">Password is mandatory</span>
                <input type="submit" ng-if="!loginLoad" class="w-100 mt-3" ng-click="$ctrl.signupUser()" value="Signup!"
                    ng-disabled="!signupForm.$valid" />
                <div ng-if="loginLoad" class="loader"></div>
            </form>
        </div>
    </div>
    <div ng-if="signupSuccess" class="alert alert-success">
        <strong>Congrats,</strong> you have signed up successfully!
        <a href="#!/login" class="alert-link">Go back to login to start chatting!</a>
    </div>
</div>